.faq-item {
    &:not(:last-child) {
        margin-bottom: rem(30);
        padding-bottom: rem(30);
        border-bottom: 1px solid $color-gray-3;
    }

    &__meta {
        display: flex;
        flex-wrap: wrap;
        font-size: rem(18);

        > * {
            margin-right: rem(20);
            margin-bottom: rem(20);
        }
    }

    &__date {
        color: $color-secondary;
        font-weight: 700;
    }

    &__title {
        margin: 0;
        position: relative;
        color: $color-primary;
        font-size: rem(24);
        font-weight: 700;

        > p:last-child {
            margin-bottom: 0;
        }
    }

    &__body {
        max-height: 0;
        transition: max-height .3s cubic-bezier(.25,.1,.25,1);
        overflow: hidden;

        .faq-item.is-active & {
            max-height: 10000px;
        }
    }

    &__content {
        position: relative;
        margin-top: rem(30);
        font-size: rem(22);
        border-radius: $borderRadius;

        p {
            margin-bottom: rem(20);
        }

        blockquote {
            color: $textcolor;
            font-size: inherit;
            font-weight: 400;
        }
    }

    &__content-label {
        @include breakpoint-min(2xl) {
            font-size: rem(18);
        }
    }

    &__toggle {
        margin-top: rem(30);
    }

    @include breakpoint-max(2xl) {
        &__meta {
            font-size: rem(16);
        }

        &__title {
            font-size: rem(20);
        }

        &__content {
            font-size: rem(18);
        }
    }

    @include breakpoint-max(xl) {
        &__title {
            font-size: rem(18);
        }

        &__content {
            font-size: rem(16);
        }
    }

    @include breakpoint-max(md) {
        &__meta {
            font-size: rem(14);

            > * {
                margin-right: rem(10);
                margin-bottom: rem(10);
            }
        }

        &__content,
        &__toggle {
            margin-top: rem(20);
        }
    }

    @include breakpoint-max(sm) {
        &__title {
            font-size: rem(16);
        }

        &__content {
            font-size: rem(14);
        }
    }
}
