@import 'page-404';

.page {
    min-height: 600px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__main {
        width: calc(100% - 540px);
    }

    &__aside {
        width: 450px;
        margin-left: 90px;
    }

    @include breakpoint-max(3xl) {
        &__main {
            width: calc(100% - 430px);
        }

        &__aside {
            width: 380px;
            margin-left: 50px;
        }
    }

    @include breakpoint-max(2xl) {
        &__main {
            width: 100%;
        }

        &__aside {
            width: 100%;
            margin-left: 0;
        }
    }
}

.page-back {
    margin-top: rem(90);

    @include breakpoint-max(2xl) {
        margin-top: rem(70);
    }

    @include breakpoint-max(md) {
        margin-top: rem(60);
    }
}
