/node_modules
/vendor
/.idea
/.vagrant
/deploy
/media
/public/data
/public/source
/public/storage
/public/vendor
/storage/app
/storage/logs
/storage/email-previews
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
Envoy.blade.php
.DS_Store
tasks.txt
