@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
        src:    url('#{$file-path}.woff2') format('woff2'),
                url('#{$file-path}.woff') format('woff'),
                url('#{$file-path}.ttf') format('truetype');
    }
}

@mixin clearfix() {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}

@mixin clearfix-none() {
    &::before,
    &::after {
        content: none;
    }
}

@mixin word-break() {
    // word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

@mixin word-break-none() {
    // word-wrap: normal;
    word-break: normal;
    overflow-wrap: normal;
}

@mixin breakpoint-max($bp) {
    @media screen and (max-width: map-get($breakpoints, $bp) - .02) {
        @content;
    }
}

@mixin breakpoint-min($bp) {
    @media screen and (min-width: map-get($breakpoints, $bp)) {
        @content;
    }
}

@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
}
